<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
  <tr>
    <td align="center" style="font-size: 12px">
      <table class="container" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; width: 640px;">
        <tr>
          <td class="container-td" style="padding-left: 20px; padding-right: 20px;">
            <table class="table-width header" style="border-collapse: collapse; margin-bottom: 40px; margin-top: 40px; width: 100%;">
              <tr>
                <td class="text-left" style="text-align: left;">
                  <img class="header-logo" width="150" height="32" src="https://teleset.plus/assets/mails/logo2x-92cd11e614.png" alt="Телесеть">
                </td>
                <td class="text-right" style="text-align: right;">
                  <div class="header-desc"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" class="container-td" style="padding-left: 20px; padding-right: 20px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="panel" style="background: #fff no-repeat right bottom; border-collapse: collapse; border-radius: 24px;">
              <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="panel-inner" style="border: 40px solid transparent; border-collapse: collapse;">
                    <tr>
                    <div
                      style="width: 100%;
                              height: 60px;
                              text-align: center;
                              background-color: rgba(255,0,0,1);
                              color: white;
                              font-size: 34px;
                              font-weight: 500;
                              line-height: 60px;
                              margin-bottom: 10px;"
                    >
                    ПОГАСИТЕ ЗАДОЛЖЕННОСТЬ
                    </div>
                    </tr>
                    <tr>
                      <td class="panel-title" style="color: #222222; font-size: 18px; font-weight: bold; line-height: 140%; padding-bottom: 16px;">Уважаемый абонент!</td>
                    </tr>
                    <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%;">
                        <strong>У Вас имеется задолженность за услуги связи по адресу <%= @address %>.</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%;">
                        <hr style="background: #dbdbdb; height: 2px; border: 0">
                      </td>
                    </tr>
                    <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%; padding-bottom: 16px;">
                        Погасите задолженность сейчас, чтобы не остаться без связи!

                        <br>Подключайте Автоплатеж и не тратьте время на ежемесячные оплаты!
                        <%# <br>
                        <br>При оплате услуг в Подтверждённом <a href="https://teleset.plus/apps" style="color: #605fff;">Личном кабинете</a> Вам начисляются бонусы в размере 5% от суммы платежа.
                        <br>
                        <br>Важно, что все накопленные бонусы сгорают при наличии задолженности за услуги - отрицательного баланса на 11 число каждого месяца.
                        <br>
                        <br>Не упускайте возможность экономить!
                        <br>
                        <br>Параметры доступа в подтвержденный Личный кабинет находятся в Памятке пользователя.
                        <br>Потеряли памятку - обратитесь в техническую поддержку в чате мобильного приложения или по телефону <a href="tel:+79691920208" style="color: #605fff;">+7 969 192-02-08</a>. %>
                      </td>
                    </tr>
                    <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%; padding-bottom: 16px;">
                        <a href="https://teleset.plus/apps" style="color: #605fff;">
                          <img class="header-logo" width="521" height="250" src="https://teleset.plus/assets/mails/sbp.jpg" alt="Телесеть">
                        </a>
                        <div style="font-size: 12px; text-align: left">
                            <div style="font-size: 12px; float: right">* Картинка кликабельна</div>
                        </div>
                      </td>
                    </tr>
                    <%# <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%; padding-bottom: 16px;">
                        <a href="https://teleset.plus/apps" style="color: #605fff;">
                          <img class="header-logo" width="521" height="250" src="https://teleset.plus/assets/mails/banner2-ea4723fa61_1.png" alt="Телесеть">
                        </a>
                        <div style="font-size: 12px; text-align: left">
                            <div style="font-size: 12px; float: right">* Картинка кликабельна</div>
                        </div>
                      </td>
                    </tr> %>
                    <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%; padding-bottom: 16px;">
                        <a href="https://teleset.plus/request" style="color: #605fff;">
                          <img class="header-logo" width="521" height="250" src="https://teleset.plus/assets/mails/banner4-07f7b65c83.png" alt="Телесеть">
                        </a>
                        <div style="font-size: 12px; text-align: right">* Картинка кликабельна</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%; padding-bottom: 16px;">
                        <a href="https://teleset.plus/request" style="color: #605fff;">
                          <img class="header-logo" width="521" height="250" src="https://teleset.plus/assets/mails/banner1-1bef65d954.png" alt="Телесеть">
                        </a>
                        <div style="font-size: 12px; text-align: right">* Картинка кликабельна</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="panel-info" style="color: #222222; font-size: 16px; line-height: 150%; padding-bottom: 16px;">
                        <a href="https://lk.teleset.plus/cameras" style="color: #605fff;">
                          <img class="header-logo" width="521" height="250" src="https://teleset.plus/assets/mails/banner3-87fafae2fc.png" alt="Телесеть">
                        </a>
                        <div style="font-size: 12px; text-align: right">* Картинка кликабельна</div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="container-td" style="padding-left: 20px; padding-right: 20px;">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
