<h2>Подтверждение адреса электронной почты</h2>

<p>
    Для подтверждения Вашего электронного ящика необходимо перейти по ссылке
    <a href="<%= Settings.site_host%>/api/v1/email_confirmation/confirm?token=<%= @confirmation_token%>">Подтвердить</a>.
</p>
