<h1>Заявка на подключение с сайта teleset.plus</h1>

<dl>
  <dt>Имя:</dt>
  <dd><%= @user_request.name %></dd>
  <dt>Email:</dt>
  <dd><%= @user_request.email %></dd>
  <dt>Телефон:</dt>
  <dd><%= @user_request.phone %></dd>
  <dt>Адрес:</dt>
  <dd><%= @user_request.address %></dd>
</dl>

<p color="red">
Это письмо отправлено роботом с сайта.
НЕ НАДО НА НЕГО ОТВЕЧАТЬ!!!
</p>
