<!DOCTYPE HTML>
<html>
<head>
    <meta name="apple-itunes-app" content="app-id=1467142980">
    <meta name="google-play-app" content="app-id=com.teleset_mobile">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Мобильное приложение</title>
<body>
<p>
    <a href="https://play.google.com/store/apps/details?id=com.teleset_mobile">Android App</a>
</p>
<p>
    <a href="https://apps.apple.com/ru/app/%D1%82%D0%B5%D0%BB%D0%B5%D1%81%D0%B5%D1%82%D1%8C/id1467142980">IOS App</a>
</p>

<script type="text/javascript">
    if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
        window.location = "itms-appss://apps.apple.com/ru/app/%D1%82%D0%B5%D0%BB%D0%B5%D1%81%D0%B5%D1%82%D1%8C/id1467142980";
    } else if (navigator.userAgent.match(/android/i)) {
        window.location = "https://play.google.com/store/apps/details?id=com.teleset_mobile";
    } else {
        window.location = "https://lk.teleset.plus";
    }
</script>
</body>
</html>




