<h1>Заявка на поддержку с сайта teleset.plus</h1>

<dl>
  <dt>Телефон:</dt>
  <dd><%= @support_request.phone %></dd>
  <dt>Сообщение:</dt>
  <dd><%= @support_request.message %></dd>
</dl>

<p color="red">
Это письмо отправлено роботом с сайта.
НЕ НАДО НА НЕГО ОТВЕЧАТЬ!!!
</p>
