<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0; padding: 0; width: 100%;">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
    <title>Телесеть</title>
  </head>

  <body style="background-color: #F4F4F4; font: 14px/150% Arial; font-weight: normal; height: 100%; margin: 0; padding: 0; width: 100%;">
    <%= yield %>
  </body>
</html>
