<!DOCTYPE html>
<html style="background-color: #CDA5E6;">
  <head>
    <title>CRM Teleset Mobile</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon.png" sizes="114x114" />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <%= javascript_pack_tag 'mobile' %>
    <%= stylesheet_pack_tag 'mobile' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
